@{
    ViewData["Title"] = "Skills";

    var skills = ViewData["Skills"] as Skills[];
}

<div>
    <ul>
        @foreach(var skill in skills){
            <li>@skill.Name @skill.GetProgressBar()</li>
        }
    </ul>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutMe">Back</a>
</div>