@using ASP_NET_PZ_03.Models.Forms
@model UserRolesForm
@{
	ViewData["Title"] = "UserRoles";
	var user = ViewData["User"] as User;

}
<head>
	<link rel="stylesheet" href="/css/Form.css">
</head>
<form asp-controller="User" method="post" asp-action="Create" enctype="multipart/form-data">
	<div class="form_container">

		<label>@user.FullName</label>
		<label>@user.Email</label>
		@for (int i = 0; i < Model.Roles.Count; i++)
		{
			<div class="form-check">
				<input asp-for="Roles[i].Enable" class="form-check-input">
				<label class="form-check-label">@Model.Roles[i].Name</label>
			</div>
		}
		

		<input type="submit">
	</div>
</form>
