@using ASP_NET_PZ_03.Models.Forms
@model Profession
@{
	
	ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="/css/Form.css">

<form asp-controller="Profession" method="post" asp-action="Edit">
	<div class="form_container">
		<label>Title :</label>
		<input type="text" placeholder="Title..." asp-for=Name>

		<input type="submit">
	</div>
</form>
	

