@using ASP_NET_PZ_03.Models.Forms
@model Profession
@{
	Layout = "_Layout";

	ViewData["Title"] = Model.Name;	
}
<h1>@ViewData["Title"]</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Profession" asp-action="Edit">Edit</a>
