@using ASP_NET_PZ_03.Models.Forms
@model InfoSkill
@{
	Layout = "_Layout";

	ViewData["Title"] = Model.Skill.Title;	
}
<h1>@ViewData["Title"]</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="InfoSkill" asp-action="Edit">Edit</a>
