@using ASP_NET_PZ_03.Models.Forms
@model ChangePasswordForm
@{
	ViewData["Title"] = "ResetPassword";
	var User = ViewData["User"] as User;

}
<head>
	<link rel="stylesheet" href="/css/Form.css">
</head>
<form asp-controller="Profile" method="post" asp-action="ResetPasswordModalAjax">
	<div class="form_container">

		<div class="card" style="margin-bottom:20px;">
		  <div class="card-header">
			<h5 style="margin-top:10px;">Reset password for : </h5>
		  </div>
		  <div class="card-body">
			  <h4>@(string.IsNullOrEmpty(User.FullName) ? User.Email : User.FullName)</h4>
		  </div>
		</div>

		<label>Current Password :</label>
		<input type="text" placeholder="Your Password..." asp-for=Password>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.Password)
		</p>

		<label>New Password :</label>
		<input type="text" placeholder="Your New Password..." asp-for=NewPassword>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.NewPassword)
		</p>

		<label >Confirm Password :</label>
		<input type="text" placeholder="Confirm Password..." asp-for=ConfirmPassword>
		<p style="color: red; font-size: 13px">
			@Html.ValidationMessageFor(x=>x.ConfirmPassword)
		</p>


		<input type="submit">
	</div>
</form>
