@using ASP_NET_PZ_03.Models.Forms
@model Skill
@{
	ViewData["Title"] = "Create";
}
<head>
	<link rel="stylesheet" href="/css/Form.css">
</head>
<form asp-controller="Skill" method="post" asp-action="Create">
	<div class="form_container">

		<label>Title :</label>
		<input type="text" placeholder="Title..." asp-for=Name>

		<input type="submit">
	</div>
</form>
