.form_container body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.form_container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form_container h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
input[type="checkbox"] {
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    height: 15px;
    width: 15px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 150px;
}
textarea{
    width: 460px;
    height: 100px;
    resize: none;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="range"]{
    width: 350px;
}

.control a{
    margin-left: 190px;
}
.Edit_Image{
    margin-top: 50px;
}